@import url('https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400;500&display=swap');

:root {
  --inactive: grey;
  --active: #0f0;
  --buttonSize: 5vw;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Mono';
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 16, 0);
  font-size: 30vh;
  color: var(--inactive);
}

body > * {
  flex: 0;
}

#input {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--inactive);
  font-size: 60%;
  user-select: none;
}

#buttons button {
  border: 1px solid black;
  border-radius: 50%;
  width: var(--buttonSize);
  height: var(--buttonSize);
  background: var(--inactive);
  vertical-align: middle;
}

#buttons button.selected {
  background: var(--active);;
}

#controls {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--inactive);
  font-size: 60%;
  user-select: none;
}

#controls svg {
  display: inline;
  width: 64px;
  height: 64px;
}

.active {
  color: var(--active);;
}
